.container {
  &__content {
    display: grid;
    grid-row-gap: 50px;
    grid-column-gap: 48px;
    grid-template-columns: repeat(4, 200px);
    justify-content: center;
    @media (max-width: 1024px) {
      grid-template-columns: repeat(auto-fit, 200px);
    }
  }
}
